Repository ruslang02/isconsultant: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, client-build, server-build, server-deploy, client-deploy

.gitlab-ci.yml:

stages:
  - cleanup
  - build
  - deploy

cleanup:
  stage: cleanup
  tags: 
    - build
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - master
    changes:
      - common/**/*
      - client/**/*
      - tsconfig.json
      - Dockerfile.client
      - types/**/*
      - server/**/*
      - admin/**/*
      - Dockerfile.server
  script:
    - docker system prune -f


client-build:
  stage: build
  tags: 
    - build
  only:
    refs:
      - master
    changes:
      - common/**/*
      - client/**/*
      - tsconfig.json
      - Dockerfile.client

  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "Building $CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA"
    - docker build -f Dockerfile.client -t $CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA

server-build:
  stage: build
  tags: 
    - build
  only:
    refs:
      - master
    changes:
      - types/**/*
      - server/**/*
      - common/**/*
      - admin/**/*
      - Dockerfile.server
      - tsconfig.json
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "Building $CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA"
    - docker build -f Dockerfile.server -t $CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA

server-deploy:
  needs: ["server-build"]
  stage: deploy
  only:
    refs:
      - master
    changes:
      - types/**/*
      - server/**/*
      - common/**/*
      - admin/**/*
      - Dockerfile.server
      - tsconfig.json
  tags: 
    - deploy-prod
  script: 
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker rm -f isc-server
    - docker run -d --env-file="/home/falcon/production.env" -p 8080:8080 -p 8081:8081 --pull always --name isc-server --restart always "$CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA"

client-deploy:
  needs: ["client-build"]
  stage: deploy
  only:
    refs:
      - master
    changes:
      - common/**/*
      - client/**/*
      - tsconfig.json
      - Dockerfile.client
  tags: 
    - deploy-prod
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker rm -f isc-client
    - docker run -d --env-file="/home/falcon/production.env" -p 8090:8080 --pull always --name isc-client --restart always "$CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA"

event modals and requests
  .vscode/settings.json
  client/components/EventArrange.tsx
  client/components/EventModal.tsx
  client/components/SideMenu.tsx
  client/pages/calendar/index.tsx
  client/pages/index.tsx
  client/pages/lawyers.tsx
  client/pages/meetings.tsx
  client/pages/profile/@me.tsx
  client/utils/api.ts
  local.env
  node_modules
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.service.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

event request arrange features
  client/components/EventArrange.tsx
  client/components/EventModal.tsx
  client/components/Page.tsx
  client/components/SideMenu.tsx
  client/pages/_app.tsx
  client/pages/calendar/index.tsx
  client/pages/index.tsx
  client/pages/lawyers.tsx
  client/pages/profile/[id].tsx
  client/pages/video/[id].tsx
  client/styles/Page.module.css
  client/utils/UserCacheContext.ts
  common/models/chat-message.entity.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.service.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

update links to meetings
  client/components/EventModal.tsx
Due: cleanup, client-build, client-deploy

fix build
  client/components/EventModal.tsx
Due: cleanup, client-build, client-deploy

screen sharing, janus room creating
  Dockerfile.dev.server
  client/components/Actions.tsx
  client/components/EventModal.tsx
  client/components/VideoContainer.tsx
  client/pages/video/[id].tsx
  common/dto/get-event.dto.ts
  common/models/calendar-event.entity.ts
  docker-compose.dev.json
  janus/janus.tsx
  janus/package.json
  server/src/auth/auth.service.ts
  server/src/chat/chat.gateway.ts
  server/src/schedules/event.adapter.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

merge fix
  client/components/EventModal.tsx
Due: cleanup, client-build, client-deploy

dropping table
  server/src/api.module.ts
Due: cleanup, server-build, server-deploy

start meeting button for owner
  client/pages/video/[id].tsx
  node_modules
  server/src/auth/auth.service.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

added screen capture(testing)
  client/components/VideoContainer.tsx
Due: cleanup, client-build, client-deploy

fixed screen capture method warning
  client/components/VideoContainer.tsx
Due: cleanup, client-build, client-deploy

fixed chat location
  client/pages/video/[id].tsx
Due: cleanup, client-build, client-deploy

fixed chat
  server/src/chat/chat.service.ts
Due: cleanup, server-build, server-deploy

update video view
  client/pages/video/[id].module.css
  client/pages/video/[id].tsx
Due: cleanup, client-build, client-deploy

fix styles
  client/pages/video/[id].tsx
Due: cleanup, client-build, client-deploy

update pages
  client/pages/admin/index.tsx
  client/pages/lawyers.tsx
  client/pages/profile/[id].tsx
Due: cleanup, client-build, client-deploy

stability, security
  client/components/EventArrange.tsx
  client/components/EventModal.tsx
  client/components/SideMenu.tsx
  client/pages/admin/index.tsx
  client/pages/admin/users.tsx
  client/pages/calendar/index.tsx
  client/pages/calendar/requests.tsx
  client/pages/meetings.tsx
  client/pages/register.tsx
  client/utils/api.ts
  common/dto/get-pending-event.dto.ts
  common/dto/patch-user.dto.ts
  common/models/calendar-event.entity.ts
  common/models/chat-message.entity.ts
  common/models/file.entity.ts
  common/models/pending-event.entity.ts
  common/models/report.entity.ts
  common/models/user.entity.ts
  server/src/schedules/pending-event.adapter.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

user-friendliness
  client/components/EventArrange.tsx
  client/pages/admin/users.tsx
  client/pages/calendar/index.tsx
  client/pages/index.tsx
  client/pages/login.tsx
  client/pages/profile/@me.tsx
  client/pages/register.tsx
  server/src/auth/auth.controller.ts
  server/src/users/users.controller.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

add user, protect routes
  client/pages/_app.tsx
  client/pages/register.tsx
  server/src/auth/auth.service.ts
  server/src/schedules/schedules.controller.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

fix video call bugs
  client/pages/video/[id].tsx
  server/src/schedules/storage.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

redo ci
  .gitlab-ci.yml
  docker-compose.json
Due: none

update ci
  .gitlab-ci.yml
  docker-compose.json
Due: none

fix build ci
  .gitlab-ci.yml
Due: none

ux improvements
  client/components/EventModal.tsx
  client/pages/video/[id].tsx
Due: cleanup, client-build, client-deploy

unauthorized arrange event ux
  client/components/EventArrange.tsx
  server/src/schedules/schedules.controller.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

lawyers panel request modal
  client/components/EventArrange.tsx
  client/pages/index.tsx
Due: cleanup, client-build, client-deploy

update condition for showSecret
  server/src/schedules/schedules.controller.ts
Due: cleanup, server-build, server-deploy

added pin enter
  client/pages/video/[id].tsx
  server/src/schedules/event.adapter.ts
  server/src/schedules/schedules.controller.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

fixed: cant start meeting as lawyer
  server/src/schedules/schedules.controller.ts
Due: cleanup, server-build, server-deploy

register arrange fix
  client/components/Actions.tsx
  client/components/EventArrange.tsx
  client/components/EventModal.tsx
  client/components/Header.tsx
  client/components/VideoContainer.tsx
  client/pages/_app.tsx
  client/pages/admin/users.tsx
  client/pages/index.tsx
  client/pages/lawyers.tsx
  client/pages/login.tsx
  client/pages/meetings.tsx
  client/pages/register.tsx
  client/pages/video/[id].tsx
  client/pages/video/index.tsx
  common/locales/en/global.json
  server/src/auth/auth.controller.ts
  server/src/users/users.controller.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

ux improvements
  client/components/EventModal.tsx
  client/pages/_app.tsx
  client/pages/video/[id].tsx
Due: cleanup, client-build, client-deploy

ux enhancements
  client/pages/_app.tsx
  client/pages/admin/users.tsx
  client/pages/video/[id].tsx
  common/models/calendar-event.entity.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

fix: not show the page until auth status is resolved
  client/pages/_app.tsx
  client/styles/globals.css
Due: cleanup, client-build, client-deploy

UX improvements
  client/components/EventModal.tsx
  client/components/VideoContainer.tsx
  client/pages/_app.tsx
  client/pages/index.tsx
  client/pages/video/[id].module.css
  client/pages/video/[id].tsx
  client/utils/i18n.ts
Due: cleanup, client-build, client-deploy

fix ts error
  client/components/VideoContainer.tsx
Due: cleanup, client-build, client-deploy

inputPin fix
  client/components/EventModal.tsx
  client/pages/video/[id].tsx
Due: cleanup, client-build, client-deploy

do not show room password when creating new event
  client/components/EventModal.tsx
Due: cleanup, client-build, client-deploy

fix spelling, wrong pin code alert
  client/components/EventModal.tsx
  client/components/VideoContainer.tsx
  client/pages/video/[id].tsx
Due: cleanup, client-build, client-deploy

optional event id get for pin authentication
  server/src/guards/optional-jwt.guard.ts
  server/src/schedules/schedules.controller.ts
Due: cleanup, server-build, server-deploy

temporary user creation on pin enter
  client/pages/video/[id].tsx
  server/src/auth/auth.controller.ts
  server/src/schedules/schedules.service.ts
  server/src/utils/IdGenerator.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy
