Repository ruslang02/isconsultant: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, client-build, server-build, server-deploy, client-deploy

.gitlab-ci.yml:

stages:
  - cleanup
  - build
  - deploy

cleanup:
  stage: cleanup
  tags: 
    - build
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - master
    changes:
      - common/**/*
      - client/**/*
      - tsconfig.json
      - Dockerfile.client
      - types/**/*
      - server/**/*
      - admin/**/*
      - Dockerfile.server
  script:
    - docker system prune -f


client-build:
  stage: build
  tags: 
    - build
  only:
    refs:
      - master
    changes:
      - common/**/*
      - client/**/*
      - tsconfig.json
      - Dockerfile.client

  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "Building $CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA"
    - docker build -f Dockerfile.client -t $CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA

server-build:
  stage: build
  tags: 
    - build
  only:
    refs:
      - master
    changes:
      - types/**/*
      - server/**/*
      - common/**/*
      - admin/**/*
      - Dockerfile.server
      - tsconfig.json
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "Building $CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA"
    - docker build -f Dockerfile.server -t $CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA

server-deploy:
  needs: ["server-build"]
  stage: deploy
  only:
    refs:
      - master
    changes:
      - types/**/*
      - server/**/*
      - common/**/*
      - admin/**/*
      - Dockerfile.server
      - tsconfig.json
  tags: 
    - deploy-prod
  script: 
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker rm -f isc-server
    - docker run -d --env-file="/home/falcon/production.env" -p 8080:8080 -p 8081:8081 --pull always --name isc-server --restart always "$CI_REGISTRY/hse/webrtchse1/isconsultant:$CI_COMMIT_SHORT_SHA"

client-deploy:
  needs: ["client-build"]
  stage: deploy
  only:
    refs:
      - master
    changes:
      - common/**/*
      - client/**/*
      - tsconfig.json
      - Dockerfile.client
  tags: 
    - deploy-prod
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker rm -f isc-client
    - docker run -d --env-file="/home/falcon/production.env" -p 8090:8080 --pull always --name isc-client --restart always "$CI_REGISTRY/hse/webrtchse1/isconsultant-client:$CI_COMMIT_SHORT_SHA"

logging added
  server/src/chat/chat.gateway.ts
Due: cleanup, server-build, server-deploy

message send fix
  server/src/chat/chat.gateway.ts
Due: cleanup, server-build, server-deploy

fixed: processing messages
  server/src/chat/chat.gateway.ts
Due: cleanup, server-build, server-deploy

removed: unnecessary log messages
  server/src/chat/chat.gateway.ts
Due: cleanup, server-build, server-deploy

added: janus auth
  client/components/VideoContainer.tsx
  client/pages/_app.tsx
  client/utils/useAuth.ts
Due: cleanup, client-build, client-deploy

message event
  client/pages/register.tsx
  client/utils/api.ts
  server/src/chat/chat.gateway.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

changed message handling
  server/src/chat/chat.gateway.ts
Due: cleanup, server-build, server-deploy

fixed merge
  server/src/chat/chat.gateway.ts
Due: cleanup, server-build, server-deploy

Add new directory
  newClient/.gitkeep
Due: none

New client part added
  newClient/.DS_Store
Due: none

Delete .DS_Store
  newClient/.DS_Store
Due: none

New client part added
  newClient/.DS_Store
  newClient/README.md
  newClient/package-lock.json
  newClient/package.json
  newClient/public/favicon.ico
  newClient/public/index.html
  newClient/public/logo192.png
  newClient/public/logo512.png
  newClient/public/manifest.json
  newClient/public/robots.txt
  newClient/src/App.css
  newClient/src/App.js
  newClient/src/App.test.js
  newClient/src/Home.css
  newClient/src/Home.js
  newClient/src/LoaderButton.css
  newClient/src/LoaderButton.js
  newClient/src/Login.css
  newClient/src/Login.js
  newClient/src/Navigation.js
  newClient/src/Profile.css
  newClient/src/Profile.js
  newClient/src/Routes.js
  newClient/src/Signup.css
  newClient/src/Signup.js
  newClient/src/contextLib.js
  newClient/src/errorLib.js
  newClient/src/hooksLib.js
  newClient/src/index.css
  newClient/src/index.js
  newClient/src/logo.svg
  newClient/src/reportWebVitals.js
  newClient/src/setupTests.js
Due: none

added: email sent on registration
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/mail.service.ts
Due: cleanup, server-build, server-deploy

improved auth, admin events management
  admin/package-lock.json
  admin/package.json
  admin/src/pages/EventsPage.tsx
  client/pages/arrange/index.tsx
  client/pages/calendar/index.tsx
  client/pages/lawyers.tsx
  client/pages/login.tsx
  client/pages/profile/@me.tsx
  client/pages/profile/[id].tsx
  client/pages/register.tsx
  common/models/user.entity.ts
  proxy/index.js
  server/package-lock.json
  server/src/api.module.ts
  server/src/auth/auth.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

fix isolatedModules build issue
  client/pages/arrange/index.tsx
  client/pages/calendar/index.tsx
  client/pages/lawyers.tsx
  client/pages/profile/@me.tsx
  client/pages/profile/[id].tsx
Due: cleanup, client-build, client-deploy

profile page
  client/components/Header.tsx
  client/components/Page.tsx
  client/components/SideMenu.tsx
  client/package-lock.json
  client/package.json
  client/pages/arrange/index.tsx
  client/pages/calendar/index.tsx
  client/pages/profile/@me.tsx
  client/styles/Header.module.css
  client/styles/Page.module.css
  proxy/index.js
Due: cleanup, client-build, client-deploy

add nginx to docker
  docker-compose.json
  proxy/nginx.conf
Due: none

changed proxy settings
  proxy/nginx.conf
Due: none

updated for building with docker locally
  client/components/VideoContainer.tsx
  development.env
  docker-compose.json
  proxy/index.js
  proxy/nginx.conf
  proxy/package-lock.json
  proxy/package.json
  server/src/auth/auth.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

Update README.md
  README.md
Due: none

update client pages
  client/components/Header.tsx
  client/components/SideMenu.tsx
  client/pages/calendar/index.tsx
  client/pages/calendar/requests.tsx
  client/pages/lawyers.tsx
  client/styles/Page.module.css
Due: cleanup, client-build, client-deploy

please don't drop tables
  server/src/api.module.ts
Due: cleanup, server-build, server-deploy

added: email verification
  client/pages/_app.tsx
  client/pages/index.tsx
  client/pages/verify/[token].tsx
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/mail.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

added: janus auth
  server/src/auth/auth.controller.ts
Due: cleanup, server-build, server-deploy

janus auth fix
  server/src/auth/auth.controller.ts
Due: cleanup, server-build, server-deploy

fixed: auth
  proxy/nginx.conf
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
Due: cleanup, server-build, server-deploy

fixed: janus auth
  server/src/auth/auth.controller.ts
Due: cleanup, server-build, server-deploy

profile page update
  admin/package-lock.json
  admin/package.json
  admin/src/App.tsx
  admin/src/index.tsx
  admin/src/pages/EventsPage.tsx
  admin/webpack.config.js
  client/pages/_app.tsx
  client/pages/profile/@me.tsx
Due: cleanup, client-build, server-build, server-deploy, client-deploy

client-side calendar, real data
  README.md
  client/components/SideMenu.tsx
  client/pages/calendar/index.tsx
  client/pages/calendar/requests.tsx
  client/pages/lawyers.tsx
  client/pages/login.tsx
  client/pages/profile/@me.tsx
  common/dto/arrange-event.dto.ts
  common/dto/get-pending-event.dto.ts
  common/dto/get-user-info.dto.ts
  common/dto/login-user-success.dto.ts
  common/models/pending-event.entity.ts
  development.env
  package-lock.json
  package.json
  proxy/nginx.dev.conf
  server/package-lock.json
  server/package.json
  server/src/api.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.service.ts
  server/src/users/users.controller.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

fixed: calendar import
  server/src/schedules/schedules.controller.ts
Due: cleanup, server-build, server-deploy

update profile @me page
  client/components/EventModal.tsx
  client/components/SideMenu.tsx
  client/pages/calendar/index.tsx
  client/pages/calendar/requests.tsx
  client/pages/index.tsx
  client/pages/lawyers.tsx
  client/pages/meetings.tsx
  client/pages/video/[id].tsx
  client/utils/api.ts
  client/utils/useAuth.ts
  common/dto/error.dto.ts
  common/dto/get-event.dto.ts
  common/dto/get-user-info.dto.ts
  common/models/calendar-event.entity.ts
  common/models/user.entity.ts
  server/src/auth/auth.controller.ts
  server/src/schedules/event.adapter.ts
  server/src/schedules/pending-event.adapter.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.module.ts
  server/src/schedules/schedules.service.ts
  server/src/users/user.adapter.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.ts
  server/src/utils/ExtendedRequest.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

event modal window
  client/components/EventModal.tsx
  client/package-lock.json
  client/package.json
  server/src/schedules/schedules.controller.ts
  server/src/schedules/storage.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

update event editor
  client/components/EventModal.tsx
  client/components/SideMenu.tsx
  client/pages/_app.tsx
  client/pages/profile/@me.tsx
  client/pages/profile/[id].tsx
  common/dto/get-event.dto.ts
  common/dto/patch-event.dto.ts
  common/models/calendar-event.entity.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

room auth
  server/package-lock.json
  server/package.json
  server/src/schedules/janus.service.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.module.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, server-build, server-deploy

added: dev, janus room integration
  Dockerfile.dev.client
  Dockerfile.dev.server
  development.env
  docker-compose.dev.json
  proxy/nginx.conf
  server/src/schedules/janus.service.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, server-build, server-deploy

chat logs, event patch modals etc etc
  client/components/EventModal.tsx
  client/pages/_app.tsx
  client/pages/calendar/index.tsx
  client/pages/index.tsx
  client/utils/MessageContext.ts
  common/dto/create-event.dto.ts
  common/dto/get-event.dto.ts
  common/dto/patch-event.dto.ts
  common/models/calendar-event.entity.ts
  common/models/chat-message.entity.ts
  common/models/user.entity.ts
  package.json
  server/src/api.module.ts
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/chat/chat.gateway.ts
  server/src/chat/chat.module.ts
  server/src/chat/chat.service.ts
  server/src/schedules/schedules.controller.ts
  server/src/schedules/schedules.module.ts
  server/src/schedules/schedules.service.ts
  server/src/schedules/storage.service.ts
Due: cleanup, client-build, server-build, server-deploy, client-deploy

room info from event on client
  Dockerfile.dev.client
  client/components/Actions.tsx
  client/components/VideoSettings.tsx
  client/pages/video/[id].tsx
  docker-compose.dev.json
Due: cleanup, client-build, client-deploy

fixed networks for client and janus
  .gitlab-ci.yml
  client/components/VideoSettings.tsx
Due: cleanup, client-build, client-deploy

fixed JanusService import
  server/src/schedules/janus.service.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, server-build, server-deploy

server hotfix
  server/src/schedules/janus.service.ts
  server/src/schedules/schedules.module.ts
  server/src/schedules/schedules.service.ts
Due: cleanup, server-build, server-deploy
